
trigger:
- main

pool:
  My-pool

stages:
- stage: Build
  displayName: Create maven Package
  jobs:
    - job:
      displayName: Create package
      steps:
      - task: PowerShell@2
        displayName: mvn build
        inputs:
          targetType: 'inline'
          script: 'mvn clean package'
      - task: CopyFiles@2
        displayName: Copy WAR
        inputs:
         SourceFolder: '$(System.DefaultWorkingDirectory)/target'
         Contents: '*.war'
         TargetFolder: '$(Build.ArtifactStagingDirectory)'


      - task: PublishBuildArtifacts@1
        displayName: Publish Artifact
        inputs:
         PathtoPublish: '$(Build.ArtifactStagingDirectory)'
         ArtifactName: 'drop'

- stage: Deploy
  dependsOn: Build
  jobs:
    - job: DeployTomcat
      steps:
      - task: DownloadBuildArtifacts@1
        inputs:
          buildType: 'current'
          downloadType: 'single'
          artifactName: 'drop'
          downloadPath: '$(System.ArtifactsDirectory)'
          cleanDestinationFolder: true
      - task: CopyFilesOverSSH@0
        inputs:
          sshEndpoint: 'tomcat-server'
          sourceFolder: '$(System.ArtifactsDirectory)'
          contents: '**'
          targetFolder: '/tmp'
          readyTimeout: '20000'
      - task: SSH@0
        displayName: Copy & Rename WAR
        inputs:
          sshEndpoint: 'tomcat-server'
          runOptions: inline
          inline: |
            echo "Copying WAR to webapps..."
            sudo rm -f /opt/tomcat/webapps/JavaLoginShowcase.war
            sudo cp /tmp/drop/JavaLoginShowcase-1.0.0.war /opt/tomcat/webapps/JavaLoginShowcase.war
      