
trigger:
- main

pool:
  My-pool

stages:
- stage: Build
  displayName: Create maven Package
  jobs:
    - job:
      displayName: Create package
      steps:
      - task: PowerShell@2
        displayName: mvn build
        inputs:
          targetType: 'inline'
          script: 'mvn clean package'
      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: '$(Build.ArtifactStagingDirectory)'
          ArtifactName: 'drop'
          publishLocation: 'Container'

