
trigger:
- main

pool:
  My-pool

stages:
- stage: Build
  displayName: Create maven Package
  jobs:
    - job:
      displayName: Create package
      steps:
      - task: PowerShell@2
        displayName: mvn build
        inputs:
          targetType: 'inline'
          script: 'mvn clean package'
      - task: CopyFiles@2
        displayName: Copy WAR
        inputs:
         SourceFolder: '$(System.DefaultWorkingDirectory)/target'
         Contents: '*.war'
         TargetFolder: '$(Build.ArtifactStagingDirectory)'


      - task: PublishBuildArtifacts@1
        displayName: Publish Artifact
        inputs:
         PathtoPublish: '$(Build.ArtifactStagingDirectory)'
         ArtifactName: 'drop'

